@import "tailwindcss";


@theme {
  --color-primary-100: #093046;
  --color-primary-200: #021926;
  --color-white: #ffffff;
  --color-black: #222222;
  --color-secondary-200: #E97108;
  --color-akaroa: #DAC4AF;
  --color-secondary-100: #FCBC7C;
}


.navBarItems {
  @apply text-white cursor-pointer px-6 py-2 md:px-0;
}
